body{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
.App-header {
  background-color: #282c34;
  width: 100%;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.Editor{
  width: 1000px;
}

